{
  # Add any additional required modules
  imports = [
    ./hardware-configuration.nix
    ./reverse-tunnel.nix
    ./users/msfocb.nix
  ];

  grub.device = "/dev/disk/by-id/{{device}}";
  
  hostname = "{{hostname}}";

  networkmanager.enable = true;
 
  # Timezone of the location where the server will be deployed
  timezone = "{{timezone}}";
 
  reverse_tunnel_forward_port = "{{tunnelport}}";

}

