
{ config, lib, pkgs, ... }:

{

  networking = {
    interfaces.{{interface}} = {
      name = "{{interface}}";
      useDHCP = false;
      ipv4.addresses = [ { address = "{{address}}"; prefixLength = {{16}}; } ];
    };
    defaultGateway = {
      address = "{{gateway}}";
      interface = "{{interface}}";
    };
    nameservers = [ "8.8.4.4" "8.8.8.8" ];
  };

}
