
{ config, lib, pkgs, ... }:

{

  networking = {
    interfaces.<name> = {
      name = "<name>";
      useDHCP = false;
      ipv4.addresses = [ { address = "xxx.xxx.xxx.xxx"; prefixLength = 16; } ];
    };
    defaultGateway = {
      address = "xxx.xxx.xxx.xxx";
      interface = "<name>";
    };
    nameservers = [ "8.8.4.4" "8.8.8.8" ];
  };

}

